@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Platypi";
    scroll-behavior: smooth;
}

header{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    h1{
        font-size: 60px;
    }
    .circle{
        border: 1px solid violet;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url(../assets/avatar.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

main{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 12vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .head{
        border: 1px  solid grey;
        border-radius: 1vw;
        width: 94vw;
        height: 8vh;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        background-color: #343a40;
        h2{
            margin-left: 2vw;
            font-size: 23px;
            color: white;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .completedWorkDash{
        /* border: 1px solid red; */
        width: 94vw;
        height: auto;
        padding: 2vh 0;
        margin-top: 5vh;
        border-radius: 1vw;
        display: flex;
        background-color: #a4161a;
        .allhead{
            /* border: 1px solid green; */
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2.5vh;
        }
        .prio{
            width: 10vw;
        }
        .work{
            width: 20vw;
        }
        .descrip{
            width: 44vw;
        }
        .completed{
            width: 10vw;
        }
        .delete{
            width: 10vw;
        }
    }

    .addingitems{
        /* border: 1px solid blue; */
        width: 94vw;
        height: auto;
        margin-top: 2vh;
        border-radius: 1vw;
        background-color: rgb(192, 230, 218);
        .noitems{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1vh 0;
        }
        .addeditem{
            display: flex;
            height: auto;
            .allll{
                padding: 2vh 1vw;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .prioo{
                /* border: 1px solid black; */
                width: 10vw;
                height: 8vh;
            }
            .workk{
                /* border: 1px solid black; */
                width: 20vw;
                height: 8vh;
            }
            .descriptionn{
                /* border: 1px solid black; */
                width: 44vw;
                height: auto;
                font-size: 15px;
            }
            
            .completedd{
                /* border: 1px solid black; */
                width: 10vw;
                height: 8vh;
                .btncheck{
                    border: 1px solid white;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                    background-color: green;
                    button{
                        border: none;
                        outline: none;
                    }
                }
                
            }
            .actionnn{
                /* border: 1px solid black; */
                width: 10vw;
                height: 8vh;
                .btn{
                    border: none;
                    /* margin-top: 1vh; */
                    margin-left: 1vw;
                    cursor: pointer;
                }
            }
        }
    }

}

