@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Platypi";
    scroll-behavior: smooth;
}

header{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    h1{
        font-size: 60px;
    }
    .circle{
        border: 1px solid violet;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url(../assets/avatar.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

main{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 12vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .head{
        border: 1px  solid grey;
        border-radius: 1vw;
        width: 94vw;
        height: 8vh;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        background-color: #343a40;
        h2{
            margin-left: 2vw;
            font-size: 23px;
            color: white;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }

    .mbody{
        display: flex;
        /* border: 1px solid black; */
        width: 94vw;
        height: 60vh;
        border-radius: 1vw;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        .left{
            /* border: 1px solid red; */
            box-shadow: 0 0 20px grey;
            width: 57vw;
            height: 60vh;
            border-radius: 1vw;
            display: flex;
            flex-direction: column;
            padding-top: 3vh;
            .statss{
                /* border: 1px solid green; */
                background-color: #a4161a;
                color: white;
                width: 55vw;
                height: auto;
                border-radius: 1vw;
                padding: 1vh 2vw;
                margin: 0 auto;
            }
            .mmmm{
                display: flex;
                justify-content: center;
                align-items: center;
                .stttt{
                    /* border: 1px solid green; */
                    overflow-y: scroll;
                    scroll-behavior: smooth;
                    width: 30vw;
                    height: 50vh;
                    .stt{
                        margin-top: 5vh;
                        /* border: 1px solid red; */
                        width: 30vw;
                        
                        h3{
                            margin: 7vh 2vw;
                        }
                    }
                }
                .left-right{
                    /* border: 1px solid red; */
                    width: 21vw;
                    height: 40vh;
                    margin: auto 0;
                    background-image: url(../assets/pngwing.com.png);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                }
            }
        }
        .right{
            /* border: 1px solid blue; */
            box-shadow: 0 0 20px grey;
            width: 35vw;
            height: 60vh;
            margin-left: 2vw;
            border-radius: 1vw;
            
            .completed{
                /* border: 1px solid green; */
                background-color: #a4161a;
                color: white;
                width: 32vw;
                height: auto;
                border-radius: 1vw;
                margin: 3vh auto;
                padding: 1vh 2vw;
            }
            .ssttbar{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 8vh;
                .statBar{
                    /* border: 1px solid black; */
                    box-shadow: 0 0 20px grey;
                    position: relative;
                    width: 30vh;
                    height: 30vh;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 20px auto;
                    background: conic-gradient(#a4161a 0% 0%, #a4161a 0% 100%);
                    .perc{
                        position: absolute;
                        font-size: 24px;
                        font-weight: bold;
                        color: black;
                    }
                }
            }
        }
    }
}